<h1>
  <i class="help circle icon"></i> FAQ</h1>
<h2>How to protect myself against scammers?</h2>
<div class="ui bulleted list">
  <!--<div class="item"><b>Use cold storage</b> - Buy a <a href="https://www.ledgerwallet.com/r/6e75?path=/products/">Ledger Nano S</a> or a <a href="https://shop.trezor.io?a=luit.hollander@gmail.com">Trezor</a></div>-->
  <div class="item">
    <b>Bookmark your crypto sites</b> - Use those bookmarks and only those</div>
  <div class="item">
    <b>Only send funds to trusted addresses</b> - Double-check what address you're sending Nano (XRB) to. Look up the address at
    <a href="https://www.nanode.co">www.nanode.co</a> and check if there are bad reviews</div>
  <div class="item">
    <b>Never trust any discord/slack/telegram/reddit message</b> - Don't ever fall for messages that say you can get free XRB or that a hack occured</div>
</div>
<h2>How can I join the fight?</h2>
<div class="ui bulleted list">
  <div class="item">Report scams to us
    <a href="/report">here</a>
  </div>
  <div class="item">Report scams to Google:
    <a>https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en</a>
  </div>
  <div class="item">Send abuse reports to the registrar, hosting and ssl provider of the scam domains</div>
</div>
<h2>Can I use the data from this project?</h2>
Yes, you can either
<a href="https://github.com/pocesar/NanoScamDB/tree/master/_data"
   target="_blank">download the raw data files from Github</a> or take a look at our
<a href="/api">API</a>.
<h2>Are the reports open source? Where do they go?</h2>
<p>No where yet. Meanwhile, create pull requests</p>